.body {
    background-color: #eeeeee;
    font-family: 'Lato' !important;
}

.navbar {
    height: 100%;
    width: 250px; /* 353px in the real design */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0094ff;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 5px 0px 5px gainsboro;
}

.navbar a {
    padding: 25px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px; /* 30px in the real design */
    font-family: 'Roboto';
    color: #ffffff;
    display: block;
}

.navbar .brand {
    padding-top: 0;
    font-size: 65px; /* 80px in the real design */
    font-family: 'Cinzel Decorative';
    text-align: center;
}

.main{
    text-align: center;
}

.title-page {
    font-size: 64px;
}

.total-balance {
    padding: 10px 8px 6px 16px;
}

.balance {
    color: #d1d1d1;
}

.balance-amount {
    color: #ffffff;
}

