<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EJBC Login Page{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'></head>
<body>
    <div class="login-page">
            <h2 class="brand-auth">EJBC</h2>
            <form class="form">
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
    </div>
    <div class="go-to-sign-up">
        <a href="/register" class="link">Don't have an account? <span>Sign up</span></div>
    </div>
</body>
</html>