<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EJBC Register Page{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
</head>
<body>
    <div class="register-page">
            <h2 class="brand-auth">EJBC</h2>
            <form class="form">
                <input type="text" placeholder="Card Number">
                <input type="password" placeholder="Pin">
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm Password">
                <button type="submit">Register</button>
            </form>
    </div>
    <div class="go-to-login">
        <a href="/login" class="link">Already have an account? <span>Login</span></div>
    </div>
</body>
</html>